/* TOPIC */

.topic
{
    display: block;
    width: 100%;
    float: left;

    border-bottom: 1px solid #ddd;
    margin-bottom: 0.75em;
    padding-bottom: 0.75em;
}

.topic-info
{
    float: left;
}

.topic-info .big
{
    font-size: 2em;
    text-align: center;
}

.topic-info .small
{
    text-align: center;
    display: block;
}

.topic-info .topic-score
{
    text-align: center;
    display: block;

    border-top: 1px solid #ddd;

    margin-top: 0.25em;
    padding-top: 0.25em;

    width: 100%;
}

.topic-info .topic-answer-count
{
    display: block;
}

.topic-details
{
    float: left;
}

.topic-details .topic-title
{
    margin-top: 0;
}

.topic-footer
{
    float: left;
    width: 100%;
}

.topic-tags
{
    float: left;
}

.topic-author
{
    float: right;
}

.topic-tags .tag
{
    background-color: #ccc;
    padding: 0.25em;
    margin-right: 0.5em;
}

.topic-title
{
    margin-top: 0;
}

.topic-score .value,
.topic-score .upvote,
.topic-score .downvote,
.answer-score .value,
.answer-score .upvote,
.answer-score .downvote
{
    font-size: 2em;
    display: block;
    text-align: center;
}

.answer-list .answer
{
    padding-bottom: 1em;
}